aiohttp==3.7.4
apiai==1.2.3
asn1crypto==0.24.0
async-timeout==2.0.0
attrs==17.4.0
beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.36
botocore==1.8.50
bz2file==0.98
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cheroot==6.1.0
CherryPy==14.0.1
cryptography==2.1.4
DateTime==4.2
docutils==0.14
future==0.16.0
gensim==3.3.0
idna==2.6
idna-ssl==1.0.0
jmespath==0.9.3
more-itertools==4.1.0
multidict==4.1.0
numpy==1.14.0
portend==2.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
pyTelegramBotAPI==3.5.1
python-dateutil==2.6.1
python-telegram-bot==10.0.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
scipy==1.0.0
service-identity==17.0.0
six==1.11.0
smart-open==1.5.6
TelegramBotAPI==0.3.2
telepot==12.6
tempora==1.11
urllib3==1.22
virtualenv==15.2.0
yarl==1.1.1
zope.interface==4.4.3
